/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
code[class*=language-],pre[class*=language-]{color:#9cb7ec;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:hsl(186, 7%, 70%)}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#77e2ac}.token.function-name{color:#6196cc}.token.boolean,.token.function{color:#ee828b}.token.number{color:#c3b7c9}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#f6bff7}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#f8e3e3}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}
.pageWrapper {
  width: 4800px;
  height: 1400px;
}
.container {
    display: flex;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    border: 1px solid black; /* add a border to the container */
    padding: 10px; /* add padding to the container */
    margin: 10px 0; /* add margin to the top and bottom of the container */
  }
.mainSketch {
  display: inline-block;
  vertical-align: top;
  align-content: left;
  width: 1220px;
  height: 1220px;
  padding-left: 0px;
  margin-right: 1%;
}
.smallCodeColumn {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  margin-right: 1%;
  font-family: Helvetica;
}
.codeColumn {
  display: inline-block;
  vertical-align: top;
  font-size: 15pt;
  margin-right: 1%;
  font-family: Helvetica;
}
.whiteText {
  color: #fff;
  font-size: 17.5pt;
  font-family: Helvetica;
}
.calculatorWrapper {
  filter: invert(.8);
}